<div class="row mt-2">
  <div class="col-auto mt-1">
    <a [routerLink]="'/profile/' + comment.user.id" class="profile-link">
      <div class="image-overlay-container avatar-sm">
        <img src="assets/img/default-avatar.png" class="rounded-circle img-fluid">
        <div class="image-overlay"></div>
      </div>
    </a>
  </div>
  <div class="col-10">
    <div>
      <a [routerLink]="'/profile/' + post.user.id" class="profile-link">
        <h5 class="mb-0 mt-0">{{ comment.user.firstName }} {{ comment.user.lastName }}</h5>
      </a>
    </div>
    <p [innerHTML]="comment.content"></p>
    <div class="row">
      <div class="col-auto pe-1">
        <a href="#" (click)="like()">
          <i class="bi" [class]="likeTypes.LIKE == comment.statistics.userLikeType ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'"></i>
        </a> {{ comment.statistics.likesCount }}
      </div>
      <div class="col-auto ps-1 pe-2">
        <a href="#" (click)="dislike()">
          <i class="bi"  [class]="likeTypes.DISLIKE == comment.statistics.userLikeType ? 'bi-hand-thumbs-down-fill' : 'bi-hand-thumbs-down'"></i>
        </a>  {{ comment.statistics.dislikesCount }}
      </div>
      <div class="col-auto ps-2">
        <small>
          <app-async-date-format [date]="comment.createdAt"></app-async-date-format>
        </small>
      </div>
    </div>
  </div>
</div>
