<app-header *ngIf="this.authService.isLoggedIn"></app-header>
<app-menu *ngIf="this.authService.isLoggedIn"></app-menu>
<main class="vh-100">
  <div class="container-fluid h-100 d-flex flex-column flex-grow-1 overflow-hidden">
    <div class="row flex-grow-1 overflow-hidden">
<!--      TODO: col-10 only if logged-->
      <div [class]="this.authService.isLoggedIn ? 'col-10' : 'col'" class="mh-100 overflow-auto">
        <router-outlet></router-outlet>
      </div>
      <div class="col-2 mh-100 overflow-auto" *ngIf="this.authService.isLoggedIn">
        <app-chatbar></app-chatbar>
      </div>
    </div>
  </div>
</main>
