<div class="auth-wrapper row justify-content-center">
  <div class="col-md-3">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="text-center mb-4">
        <h1 class="h2 mb-2 font-weight-normal">Kereq</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue efficitur justo a finibus.
          Aliquam finibus arcu eget pharetra sagittis.</p>
      </div>
      <h1 class="h3 mb-3 font-weight-normal" i18n="@@user.form.login-title">Please sign in</h1>
      <label i18n="@@user.form.email">Email address</label>
      <input type="email" formControlName="email" class="form-control" i18n-placeholder="@@user.form.email" placeholder="Email address" required autofocus>
      <label i18n="@@user.form.password">Password</label>
      <input type="password" formControlName="password" class="form-control" i18n-placeholder="@@user.form.password" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"><span i18n="@@user.form.remember">Remember me</span>
        </label>
      </div>
      <button class="btn btn-lg btn-primary col-12" type="submit" i18n="@@user.form.login">Sign in</button>
    </form>
    <div class="row mt-2">
      <div class="col-6">
        <a class="btn btn-outline-success col-12" routerLink="/register" i18n="@@user.form.register">Sign up</a>
      </div>
      <div class="col-6">
        <a class="btn btn-outline-success col-12" i18n="@@user.form.forgot-password">Forgot password</a>
      </div>
    </div>
  </div>
</div>
