<div class="col-12 card-container">
  <div class="card">
    <div class="card-body pt-4">
      <h2 i18n="@@find-friends.my-ad">My poster</h2>
      <list-content-loader *ngIf="!myAdLoaded"></list-content-loader>
      <p *ngFor="let error of adForm.errors">
        <ngb-alert type="danger" (closed)="adForm.closeError(error.id)">{{ error.message }}</ngb-alert>
      </p>
      <div *ngIf="myAdLoaded">
        <div *ngIf="myAd">
          <p [innerHTML]="myAd.description"></p><br>
          <p>
            Age:
            <app-range-placeholder i18n-placeholder="@@common.any" placeholder="any" [minValue]="myAd.minAge" [maxValue]="myAd.maxAge"></app-range-placeholder>
            <br>
            Gender: {{ myAd.gender ? myAd.gender : 'any' }}
          </p>

          <button type="submit" class="btn btn-primary mt-2" i18n="@@find-friends.remove-my-ad" (click)="removeMyAdModal()">Remove</button>
          <app-modal #removeModal [modalConfig]="removeModalConfig">
            <span i18n="@@find-friends.ad-removal-confirm">
              Are you sure you want to remove your poster?
            </span>
          </app-modal>
        </div>
        <div *ngIf="!myAd" class="position-relative">
          <app-loading *ngIf="adForm.loading"></app-loading>
          <form [formGroup]="adForm.form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label i18n="@@find-friends.form.description">Description</label>
              <textarea [ngClass]="{ 'is-invalid': adForm.submitted && f['description'].errors }" class="form-control validate" formControlName="description" i18n-placeholder="@@find-friends.form.description" placeholder="Description" autofocus></textarea>
              <div *ngIf="f['description'].touched && f['description'].errors" class="invalid-feedback">
                <ngx-form-error [control]="f['description']"></ngx-form-error>
              </div>
            </div>

            <div class="form-group">
              <label i18n="@@find-friends.form.age">Age</label><br>
              <div class="col-lg-3 col-md-6">
                <app-slider [control]="f['minAge']" [min]="1" [max]="120"></app-slider>
              </div>
              <div class="col-lg-3 col-md-6">
                <app-slider [control]="f['maxAge']" [min]="1" [max]="120"></app-slider>
              </div>
              <div *ngIf="adForm.submitted && (f['minAge'].errors || f['maxAge'].errors)" class="invalid-feedback">
                <ngx-form-error [control]="f['minAge']"></ngx-form-error>
                <ngx-form-error [control]="f['maxAge']"></ngx-form-error>
              </div>
            </div>

            <div class="form-group">
              <label i18n="@@find-friends.form.gender">Gender</label>
              <div [ngClass]="{ 'is-invalid': adForm.submitted && f['gender'].errors }">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="gender" [value]="null" id="radioGenderAny" checked>
                  <label class="form-check-label" for="radioGenderAny" i18n="@@user.form.gender-any">
                    Any
                  </label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="gender" [value]="genders.MALE" id="radioGenderMale">
                  <label class="form-check-label" for="radioGenderMale" i18n="@@user.form.gender-male">
                    Male
                  </label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="gender" [value]="genders.FEMALE" id="radioGenderFemale">
                  <label class="form-check-label" for="radioGenderFemale" i18n="@@user.form.gender-female">
                    Female
                  </label>
                </div>
              </div>
              <div *ngIf="adForm.submitted && f['gender'].errors" class="invalid-feedback">
                <ngx-form-error [control]="f['gender']"></ngx-form-error>
              </div>
            </div>

            <button type="submit" [disabled]="adForm.loading ? true : null" class="btn btn-primary mt-2" i18n="@@common.submit">Submit</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="col-12 card-container">
  <div class="card">
    <div class="card-body pt-4">
      <h2 i18n="@@find-friends.browse-ads">Browse posters</h2>
    </div>
  </div>
</div>

<div *ngIf="!browseAdsPageTool.loaded">
  <div *ngFor="let item of [].constructor(4)">
    <div class="card-container col-12">
      <div class="card">
        <div class="card-body pt-4 row">
          <content-loader viewBox="0 0 380 60">
            <svg:rect x="0" y="0" rx="3" ry="3" width="100%" height="10px" />
            <svg:rect x="20px" y="20px" rx="3" ry="3" width="100%" height="10px" />
            <svg:rect x="20px" y="40px" rx="3" ry="3" width="100%" height="10px" />
            <svg:rect x="20px" y="60px" rx="3" ry="3" width="100%" height="10px" />
          </content-loader>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="browseAdsPageTool.loaded && !browseAdsList.length" class="card-body">
  <h4 i18n="@@find-friends.no-posters-available" class="text-secondary">No posters available at moment</h4>
</div>

<div
  infinite-scroll
  [infiniteScrollDistance]="browseAdsPageTool.distance"
  [infiniteScrollThrottle]="browseAdsPageTool.throttle"
  (scrolled)="browseAdsPageTool.loadMore()"
  *ngIf="browseAdsPageTool.loaded && browseAdsList"
>
  <div class="col-12 card-container" *ngFor="let ad of browseAdsList; let i = index">
    <div class="card">
      <div class="card-body pt-4 row">
        <div class="col-auto">
          <a [routerLink]="'/profile/' + ad.user.id" class="profile-link">
            <div class="image-overlay-container avatar">
              <img src="assets/img/default-avatar.png" class="rounded-circle img-fluid">
              <div class="image-overlay"></div>
            </div>
          </a>
        </div>
        <div class="col-10">
          <a [routerLink]="'/profile/' + ad.user.id" class="profile-link">
            <h2>{{ ad.user.firstName }} {{ ad.user.lastName }}</h2>
          </a>
          <p [innerHTML]="ad.description"></p><br>
          <p>
            Age:
            <app-range-placeholder i18n-placeholder="@@common.any" placeholder="any" [minValue]="ad.minAge" [maxValue]="ad.maxAge"></app-range-placeholder>
            <br>
            Gender: {{ ad.gender ? ad.gender : 'any' }}
          </p>
          <button type="submit"
                  class="btn btn-primary mt-2"
                  i18n="@@user.invite" (click)="invite(i)">Invite to friends</button>
          <button type="button" class="btn-close p-4 position-absolute top-0 end-0" aria-label="Close" (click)="hide(i)"></button>
        </div>
      </div>
    </div>
  </div>
</div>
