<div class="col-12 card-container">

  <div class="card">
    <div class="card-body pt-4">
      <h2 i18n="@@profile.edit-profile">Edit profile</h2>
      <list-content-loader *ngIf="!userLoaded || !componentLoaded"></list-content-loader>

      <div *ngIf="userLoaded && componentLoaded">
        <div class="row">
          <div class="col-md-8 p-0">
            <form [formGroup]="userForm.form" (ngSubmit)="onSubmit()">
              <p *ngFor="let error of userForm.errors">
                <ngb-alert type="danger" (closed)="userForm.closeError(error.id)">{{ error.message }}</ngb-alert>
              </p>

              <div class="form-group">
                <label i18n="@@user.form.first-name">First name</label>
                <input type="text" [ngClass]="{ 'is-invalid': userForm.submitted && f['firstName'].errors }" [readOnly]="!modifyMode" class="form-control" formControlName="firstName" i18n-placeholder="@@user.form.first-name" placeholder="First name">
                <div *ngIf="userForm.submitted && f['firstName'].errors" class="invalid-feedback">
                  <ngx-form-error [control]="f['firstName']"></ngx-form-error>
                </div>
              </div>

              <div class="form-group">
                <label i18n="@@user.form.last-name">Last name</label>
                <input type="text" [ngClass]="{ 'is-invalid': userForm.submitted && f['lastName'].errors }" [readOnly]="!modifyMode" class="form-control" formControlName="lastName" i18n-placeholder="@@user.form.last-name" placeholder="Last name">
                <div *ngIf="userForm.submitted && f['lastName'].errors" class="invalid-feedback">
                  <ngx-form-error [control]="f['lastName']"></ngx-form-error>
                </div>
              </div>

              <div class="form-group">
                <label i18n="@@user.form.country">Country</label>
                <select [ngClass]="{ 'is-invalid': userForm.submitted && f['country'].errors }" [attr.disabled]="!modifyMode ? '' : null" class="form-select" formControlName="country">
                  <option value="" i18n="@@user.form.choose-country" disabled>Choose country</option>
                  <option *ngFor="let country of countries" [ngValue]="country.code">
                    <span [innerHTML]="country.value"></span>
                  </option>
                </select>
                <div *ngIf="userForm.submitted && f['country'].errors" class="invalid-feedback">
                  <ngx-form-error [control]="f['country']"></ngx-form-error>
                </div>
              </div>

              <button *ngIf="!modifyMode" class="btn btn-primary mt-2" i18n="@@common.modify" (click)="modifyModeOn()">Modify</button>
              <button type="submit" *ngIf="modifyMode" [disabled]="userForm.loading ? true : null" class="btn btn-primary mt-2" i18n="@@common.save">Save</button>
            </form>
          </div>
          <div class="col-md-4 text-center">
            <img src="assets/img/default-avatar.png" class="pull-left rounded-circle">
            <br>
            <a (click)="$event.preventDefault()" href="#">
              <i class="bi bi-pencil-square"></i>
              <span i18n="@@sites.edit-profile-image">Edit profile image</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
