<div class="col-12 card-container">

  <div class="card">
    <div class="card-body pt-4 d-flex align-items-center">
      <app-avatar [user]="user" [size]="'lg'"></app-avatar>
      <list-content-loader *ngIf="!userLoaded"></list-content-loader>
      <div class="ps-2" *ngIf="userLoaded">
        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
        <a [routerLink]="'/profile/' + user.id + '/edit'" *ngIf="isOwner()">
          <i class="bi bi-pencil-square"></i>
          <span i18n="@@sites.edit-profile">Edit profile</span>
        </a>
      </div>
    </div>
  </div>

</div>

<div class="col-12">
  <div class="row">
    <div class="col-md-6 card-container">
      <div class="card h-100">
        <div class="card-body pt-4">
          <h2 i18n="@@profile.about">About</h2>
          <list-content-loader *ngIf="!userLoaded"></list-content-loader>
          <div *ngIf="userLoaded">
            <span i18n="@@profile.from">From</span>: {{ user.country }}<br>
            <span i18n="@@profile.joined">Joined</span>: {{ user.joinDate  | date: "dd/MM/yyyy HH:mm:ss" }}<br><br>
            <div *ngIf="user.biography">
              <h2 i18n="@@user.biography">Biography</h2>
              <p [innerHTML]="user.biography"></p>
            </div>
            <div *ngIf="isOwner()">
              <a [routerLink]="'/profile/' + user.id + '/edit'">
                <i class="bi bi-pencil-square"></i>
                <span i18n="@@sites.edit-biography">Edit biography</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 card-container">
      <div class="card h-100">
        <div class="card-body pt-4">
          <h2 i18n="@@profile.friends">Friends</h2>

          <div *ngIf="!friendsLoaded">
            <div class="row row-cols-4">
              <div class="col" *ngFor="let item of [].constructor(8)">
                <content-loader viewBox="0 0 40 40">

                  <svg:rect x="5" y="0" rx="3" ry="3" width="30" height="30" />
                  <svg:rect x="0" y="31" rx="3" ry="3" width="19" height="4" />
                  <svg:rect x="21" y="31" rx="3" ry="3" width="19" height="4" />
                </content-loader>
              </div>
            </div>
          </div>

          <div *ngIf="friendsLoaded && !friendsList.length">
            <div *ngIf="isOwner()">
              <span i18n="@@profile.no-friends-owner">You have no friends at moment</span><br>
              <a routerLink="/find-friends" i18n="@@profile.find-friends">Click here to find some</a>
            </div>
            <div *ngIf="!isOwner()">
              <span i18n="@@profile.no-friends">This user has no friends at moment</span><br>
            </div>
          </div>

          <div *ngIf="friendsLoaded && friendsList.length">
            <div class="row row-cols-4">
              <div class="col" *ngFor="let friend of friendsList">
                <a [routerLink]="'/profile/' + friend.friend.id" class="profile-link">
                  <div class="image-overlay-container">
                    <app-avatar [user]="friend.friend" [size]="'tb'"></app-avatar>
                    <div class="image-overlay"></div>
                  </div>
                  {{ friend.friend.firstName }} {{ friend.friend.lastName }}
                </a>
              </div>
            </div>
            <div class="mt-2">
              <a [routerLink]="'/friends' + (!isOwner() ? ('/' + user.id) : '')">
                <span i18n="@@general.view-all">View all</span> <!-- TODO: change to "find new" when count == 0 -->
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 card-container">
  <div class="card">
    <div class="card-body pt-4">
      <h2 i18n="@@profile.media">Media</h2>

      <div *ngIf="!photosLoaded">
        <div class="row row-cols-auto">
          <div class="col photo-sm" *ngFor="let item of [].constructor(16)">
            <content-loader viewBox="0 0 128 128">
              <svg:rect x="0" y="0" rx="33" ry="33" width="128" height="128" />
            </content-loader>
          </div>
        </div>
      </div>

      <div *ngIf="photosLoaded && !photosList.length">
        <div *ngIf="isOwner()">
          <span i18n="@@profile.no-photos-owner">You have no photos at moment</span><br>
        </div>
        <div *ngIf="!isOwner()">
          <span i18n="@@profile.no-photos">This user has no photos at moment</span><br>
        </div>
      </div>

      <div *ngIf="photosLoaded && photosList.length">
        <div class="row row-cols-auto">
          <div class="col" *ngFor="let photo of photosList">
            <a href="" (click)="$event.preventDefault();" class="profile-link">
              <div class="image-overlay-container">
                <app-photo [photo]="photo" [size]="'tb'"></app-photo>
                <div class="image-overlay"></div>
              </div>
            </a>
          </div>
        </div>
        <a href="" (click)="$event.preventDefault();">
          <span i18n="@@general.view-all">View all</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="col-12 card-container">
  <div class="card">
    <div class="card-body pt-4 d-flex align-items-center">
      <h2 i18n="@@profile.posts">Posts</h2>
    </div>
  </div>
</div>

<div *ngIf="browsePostsPageTool && browsePostsPageTool.loaded && !browsePostsList.length" class="card-body">
  <h4 i18n="@@posts.no-posts-available" class="text-secondary">No posts available at moment</h4>
</div>

<div
  infinite-scroll
  [infiniteScrollDistance]="browsePostsPageTool.distance"
  [infiniteScrollThrottle]="browsePostsPageTool.throttle"
  (scrolled)="browsePostsPageTool.loadMore()"
  *ngIf="browsePostsPageTool && browsePostsPageTool.loaded && browsePostsList"
>
  <div class="col-12 card-container" *ngFor="let post of browsePostsList; let i = index">
    <div class="card">
      <div class="card-body pt-4 position-relative">
        <app-post [post]="post"></app-post>
      </div>
    </div>
  </div>
</div>
