<div class="col-12 card-container">
  <div class="card">
    <div class="card-body pt-4">
      <h2 i18n="@@find-friends.my-ad">Add post</h2>
      <div class="alert alert-danger" *ngIf="error">
        {{ error }}
      </div>
        <div class="position-relative">
          <app-loading *ngIf="loading"></app-loading>
          <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label i18n="@@post.form.content">Body</label>
              <textarea [ngClass]="{ 'is-invalid': submitted && f['content'].errors }" class="form-control validate" formControlName="content" i18n-placeholder="@@post.form.content-placeholder" placeholder="Write here" autofocus></textarea>
              <div *ngIf="f['content'].touched && f['content'].errors" class="invalid-feedback">
                <ngx-form-error [control]="f['content']"></ngx-form-error>
              </div>
            </div>

            <button type="submit" [disabled]="loading ? true : null" class="btn btn-primary mt-2" i18n="@@common.submit">Submit</button>
            <button type="button" (click)="onReset()" [disabled]="loading ? true : null" class="btn btn-warning mt-2" i18n="@@general.form.reset">Reset</button>
          </form>
        </div>
    </div>
  </div>
</div>

<div *ngIf="!browsePostsPageTool.loaded">
  <div *ngFor="let item of [].constructor(4)">
    <div class="card-container col-12">
      <div class="card">
        <div class="card-body pt-4 row">
          <content-loader viewBox="0 0 380 60">
            <svg:rect x="0" y="0" rx="3" ry="3" width="100%" height="10px" />
            <svg:rect x="20px" y="20px" rx="3" ry="3" width="100%" height="10px" />
            <svg:rect x="20px" y="40px" rx="3" ry="3" width="100%" height="10px" />
            <svg:rect x="20px" y="60px" rx="3" ry="3" width="100%" height="10px" />
          </content-loader>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="browsePostsPageTool.loaded && !browsePostsList.length" class="card-body">
  <h4 i18n="@@posts.no-posts-available" class="text-secondary">No posts available at moment</h4>
</div>

<div
  infinite-scroll
  [infiniteScrollDistance]="browsePostsPageTool.distance"
  [infiniteScrollThrottle]="browsePostsPageTool.throttle"
  (scrolled)="browsePostsPageTool.loadMore()"
  *ngIf="browsePostsPageTool.loaded && browsePostsList"
>
  <div class="col-12 card-container" *ngFor="let post of browsePostsList; let i = index">
    <div class="card">
      <div class="card-body pt-4 row">
        <div class="col-auto">
          <a [routerLink]="'/profile/' + post.user.id" class="profile-link">
            <div class="image-overlay-container">
              <img src="assets/img/default-avatar.png" class="rounded-circle">
              <div class="image-overlay"></div>
            </div>
          </a>
        </div>
        <div class="col-10">
          <div class="mb-2">
            <a [routerLink]="'/profile/' + post.user.id" class="profile-link">
              <h2 class="mb-0">{{ post.user.firstName }} {{ post.user.lastName }}</h2>
            </a>
            <span>
              <app-async-date-format [date]="post.createdAt"></app-async-date-format>
            </span>
          </div>
          <p [innerHTML]="post.content"></p><br>

          <button type="submit" class="btn btn-secondary mt-2 mx-2"
                  i18n="@@general.hide" (click)="hide(i)">Hide</button>
        </div>
      </div>
    </div>
  </div>
</div>
