<div class="row">
  <div class="col-auto">
    <a [routerLink]="'/profile/' + post.user.id" class="profile-link">
      <div class="image-overlay-container">
        <img src="assets/img/default-avatar.png" class="rounded-circle">
        <div class="image-overlay"></div>
      </div>
    </a>
  </div>
  <div class="col-10">
    <div class="mb-2">
      <a [routerLink]="'/profile/' + post.user.id" class="profile-link">
        <h2 class="mb-0">{{ post.user.firstName }} {{ post.user.lastName }}</h2>
      </a>
      <span>
          <app-async-date-format [date]="post.createdAt"></app-async-date-format>
        </span>
    </div>
    <p [innerHTML]="post.content"></p><br>
  </div>
</div>
