<div class="row">
  <div class="col-auto">
    <a [routerLink]="'/profile/' + post.user.id" class="profile-link">
      <div class="image-overlay-container">
        <app-avatar [user]="post.user" [size]="'tb'"></app-avatar>
        <div class="image-overlay"></div>
      </div>
    </a>
  </div>
  <div class="col-10">
    <div class="mb-2">
      <a [routerLink]="'/profile/' + post.user.id" class="profile-link">
        <h2 class="mb-0">{{ post.user.firstName }} {{ post.user.lastName }}</h2>
      </a>
      <span>
        <app-async-date-format [date]="post.createdAt"></app-async-date-format>
      </span>
    </div>
  </div>
  <div class="col-12">
    <p [innerHTML]="post.content"></p><br>
  </div>
</div>
<div class="row">
  <div class="col-auto">
    <a href="" (click)="$event.preventDefault();like()">
      <i class="bi" [class]="likeTypes.LIKE == post.statistics.userLikeType ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'"></i>
    </a> {{ post.statistics.likesCount }}
  </div>
  <div class="col-auto">
    <a href="" (click)="$event.preventDefault();dislike()">
      <i class="bi"  [class]="likeTypes.DISLIKE == post.statistics.userLikeType ? 'bi-hand-thumbs-down-fill' : 'bi-hand-thumbs-down'"></i>
    </a>  {{ post.statistics.dislikesCount }}
  </div>
  <div class="col-auto">
    <a href="" (click)="$event.preventDefault();scrollFocus(commentInput)">
      <i class="bi bi-card-text"></i> Add comment
    </a>
  </div>
  <hr class="bg-danger mt-1 border-2 border-top border-dark">
</div>

<div class="row">
  <div *ngIf="!commentsList || !commentsList.length">
    <span i18n="@@post.no-comments">Not commented yet</span>
  </div>
</div>

<div *ngIf="commentsList">
  <app-comment *ngFor="let comment of commentsList" [post]="post" [comment]="comment"></app-comment>

  <div *ngIf="commentsList.length < post.statistics.commentsCount && !commentsPageTool.stopLoading">

    <a href="" (click)="$event.preventDefault();commentsPageTool.loadMore()" i18n="@@general.load-more">Load more</a>
  </div>
</div>

<div class="row mt-2">
  <div class="position-relative">
    <app-loading *ngIf="commentForm.loading"></app-loading>
    <form [formGroup]="commentForm.form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-auto">
          <div class="image-overlay-container">
            <a href="" (click)="$event.preventDefault();scrollFocus(commentInput)">
              <app-avatar [user]="loggedUser" [size]="'tbm'"></app-avatar>
              <div class="image-overlay"></div>
            </a>
          </div>
        </div>

        <div class="col form-group">
          <input #commentInput type="text" [ngClass]="{ 'is-invalid': commentForm.submitted && f['content'].errors }" class="form-control validate" formControlName="content" i18n-placeholder="@@post.form.content-placeholder" placeholder="Write here" />
          <div *ngIf="f['content'].touched && f['content'].errors" class="invalid-feedback">
            <ngx-form-error [control]="f['content']"></ngx-form-error>
          </div>
        </div>

        <div class="col-auto">
          <button type="submit" [disabled]="commentForm.loading ? true : null" class="btn btn-primary" i18n="@@common.submit">Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>
