<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " routerLink="/">
        <i class="bi bi-journal-text"></i>
        <span i18n="@@sites.wall">Wall</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/profile">
        <i class="bi bi-person"></i>
        <span i18n="@@sites.profile">Profile</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/friends">
        <i class="bi bi-people"></i>
        <span i18n="@@sites.friends">Friends</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/find-friends">
        <i class="bi bi-people"></i>
        <span i18n="@@sites.find-friends">Find friends</span>
      </a>
    </li>
  </ul>
</aside>
